* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-optimistic),Helvetica, Helvetica Neue, Arial, sans-serif;
}
p{
  margin: 1em 0;
}

.slick-dots {
  position: absolute !important;
  bottom: 2% !important;
  right: 39% !important;
}

.slick-dots ul li {
  margin: 0 1px;
  transition: background 0.3s ease;
  }


 .slick-active button::before{
    color: white !important;
  }

  .slick-dots ul li button::before{
  font-size: 12px;
  color: gray;
  }

/* Loader css */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .loader {
    width: 100px;
    height: 100px;
    border: solid 4px rgba(231, 231, 231, 0);
    border-top: solid 5px rgb(241, 68, 68);
    border-radius: 50%;
    transition: all 0.5s;
    animation: rotation_51512 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  @keyframes rotation_51512 {
    70% {
      box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.526);
    }
  
    90% {
      box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
    }
  
    100% {
      opacity: 0.5;
      transform: rotate(360deg);
    }
  }
  /* Loader css ends */

  @media (max-width: 769px){
  .slick-dots{
    bottom: 50% !important;
  }
}

